.input-grp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin: 40px 0px 20px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .input-grp {
        flex-direction: row;
    }

    .input-grp button {
        width: auto;
        font-size: var(--font-small);
    }
}