.custom-input input{
    border: 1.5px solid var(--secondary-bg-color);
    padding: 18px;
    width: -webkit-fill-available;
    border-radius: 40px;
    background-color: transparent;
    color: var(--secondary-bg-color);
}

.custom-input .err-msg{
    color: var(--error-color);
    font-size: var(--font-small);
    margin-top: 10px;
}

.custom-input .input.error{
    border: 1.5px solid var(--error-color);
}

@media only screen and (min-width: 768px) {
    .custom-input{
        position: relative;
    }
    .custom-input .err-msg{
        position: absolute;
        bottom: -22px;
        left: 50%;
        transform: translateX(-50%);
    }

    .custom-input input{
        outline: 1px solid ;
    }
}