.custom-btn {
    border: 1.5px solid var(--secondary-bg-color);
    padding: 18px 32px;
    color: var(--secondary-bg-color);
    border-radius: 32px;
    font-family: var(--font-family-medium);
    word-spacing: 2px;
}

.custom-btn .btn-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-btn.large-font {
    font-size: var(--font-large);
}

.custom-btn img {
    margin-left: 5px;
}

.custom-btn.disabled{
    opacity: 0.5;
    pointer-events: none;
    cursor: auto;
}

@media only screen and (min-width: 768px) {
    .custom-btn:hover{
        transform: translate3d(0.5px,-0.5px,1px);
    }
}