.homepage {
    margin: 70px 0px;
}

.homepage .banner-text {
    text-align: center;
}

.homepage .banner-text p {
    font-family: var(--font-family-semibold);
    font-size: var(--font-large);
    line-height: 1.3;
}

.homepage .banner-text .highlight {
    font-size: var(--font-xxl);
    color: var(--text-theme-color);
}

.homepage .banner-img {
    width: 100%;
    margin: 10px 0px 30px;
}

.homepage .sub-banner-text {
    text-align: center;
    margin: 10px 28px 30px;
}

@media only screen and (min-width: 768px) {
    .homepage {
        margin-top: 100px;
    }

    .homepage .banner-text p {
        font-size: var(--font-xxl);
    }

    .homepage .banner-text .highlight {
        font-size: var(--font-xxxl);
    }

    .homepage .sub-banner-text {
        font-size: var(--font-large);
        max-width: 600px;
        margin: 0 auto;
    }

    .homepage .banner-img {
        width: 100%;
    }
}