.homepage {
    margin: 70px 0px;
}

.homepage .banner-img {
    width: 100%;
    margin: 10px 0px 30px;
}

.homepage .sub-banner-text {
    text-align: center;
    margin: 10px 28px 30px;
}

.homepage .try-section,
.homepage .subscription {
    font-size: var(--font-xxl);
    text-align: center;
    max-width: 80%;
    margin: 0px auto;
}

.homepage .subscription{
    font-size: var(--font-medium);
}

.homepage .try-section .highlight,
.homepage .subscription .highlight {
    color: var(--text-theme-color);
    font-family: var(--font-family-semibold);
}

.homepage .try-now-btn {
    margin: 50px 0px;
}

.homepage .email-wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (min-width: 768px) {
    .homepage {
        margin-top: 100px;
    }

    .homepage .sub-banner-text {
        font-size: var(--font-large);
        max-width: 600px;
        margin: 0 auto;
    }

    .homepage .banner-img {
        width: 100%;
    }

    .homepage .try-section{
        margin-top: 130px;
    }

    .homepage .try-section img{
        width: 60%;
    }

    .homepage .subscription > p{
        font-size: var(--font-large);
        max-width: 400px;
        margin: 0 auto;
    }

    .homepage .email-wrapper{
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .homepage .email-wrapper .custom-input{
        max-width: 450px;
    }
}