.card .card-img-wrapper {
    transform-style: preserve-3d;
    perspective: 1000px;
}

.card .card-img {
    width: 100%;
}

.card.show-options,
.card:not(.bordered) .card-img {
    border-radius: 18px;
}

.card .back {
    display: none;
}

.card.show-options {
    border: 1px solid var(--border-color);
    padding: 26px;
    position: relative;
    background: var(--bg-color);
}

.card.show-options .card-img {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.card .price-section {
    margin-top: 26px;
}

.card .price-section .highlight {
    color: var(--text-theme-color);
    font-family: var(--font-family-bold);
    font-size: var(--font-large);
    margin-right: 10px;
}

.card .rating-stars{
    margin-top: 10px;
}

.card .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card .btn {
    width: auto;
    padding: 16px;
    font-size: var(--font-xs);
}

@media only screen and (min-width: 768px) {

    .card .front,
    .card .back,
    .card.flip:hover .front,
    .card.flip:hover .back {
        transition: transform .5s cubic-bezier(0.4, 0.2, 0.2, 1);
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }

    .card.flip:hover .back {
        transform: rotateY(0deg);
    }

    .card.flip:hover .front {
        transform: rotateY(-180deg);
    }

    .card .back {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        transform: rotateY(180deg);
    }

    .card .front {
        transform: rotateY(0deg);
    }

    .card.show-options::before,
    .card .back::before {
        position: absolute;
        width: calc(100% + 30px);
        height: calc(100% + 30px);
        left: -15px;
        top: -15px;
        background: linear-gradient(to bottom, #9d67ba, #ba8bd3, #d0abe4, #a9ccf6, #c8e8ff);
        z-index: -1;
        filter: blur(15px);
    }

    .card.flip:hover .back::before {
        content: '';
    }

    .card.show-options:hover::before {
        content: '';
    }

    .card .btn {
        padding: 16px 12px;
    }

    .card.show-options {
        padding: 26px 20px;
    }

}