header,
header .right-icons {
    display: flex;
    align-items: center;
}

header {
    margin: 48px var(--x-space);
    justify-content: space-between;
}

header .right-icons{
    gap: 30px;
    margin-right: 14px;
}

header .nav-links .active{
    font-family: var(--font-family-bold);
}

header .side-nav{
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - 40px);
    width: 100%;
    padding-top: 40px;
    background: var(--bg-color);
    z-index: 2;
    transform: translateX(100%);
    transition: .5s all ease-in-out;
    text-align: center;
}

header .side-nav .inner-content{
    overflow-y: auto;
    height: 100%;
}

header .side-nav.open{
    transform: translateX(0%);
}

header .side-nav .close-btn{
    position: absolute;
    top: 40px;
    right: 40px;
}

header .side-nav .nav-links{
    margin: 52px auto 40px;
    width: max-content;
}

header .side-nav .nav-links a{
    display: block;
    font-size: var(--font-large);
    margin-top: 22px;
}

header .social-box{
    max-width: 60%;
    margin: 26px auto;
}

header .nav-footer{
    /* position: absolute;
    bottom: 30px;
    left: 26px; */
    width: max-content;
    margin: 40px 20px;
}

header .nav-footer p{
    text-align: left;
    font-size: var(--font-small);
}

header .nav-footer img.app-store{
    width: 100%;
    height: 100%;
    max-width: 130px;
    margin: 10px 0px;
    display: block;
}

header .nav-footer img.app-store:first-of-type{
    margin-top: 20px;
}

header .nav-footer img.app-store:last-of-type{
    margin-bottom: 20px;
}

header .nav-footer .trademark{
    margin-top: 16px;
}

/* desktop */
@media only screen and (min-width: 768px) {
    header {
        margin: 26px var(--x-space);
    }

    header .nav-links li{
        display: inline;
        margin-left: 42px;
    }

    header .nav-links .active{
        position: relative;
        display: inline-block;
    }

    header .nav-links a::before{
        content: '';
        position: absolute;
        width: 0px;
        bottom: -4px;
        height: 0.25px;
        background-color: var(--border-color);
        transition: all 0.3s ease-in-out;
    }

    header .nav-links a.active::before{
        width: 100%;
    }
}