.custom-cards-group {
    margin: 80px var(--x-space);
}

.custom-cards-group .cards-header {
    display: flex;
    justify-content: space-between;
}

.custom-cards-group .filters {
    height: 100%;
    background-color: transparent;
    color: var(--secondary-bg-color);
    border: none;
}

.custom-cards-group .filters option {
    background-color: var(--theme-bg-color);
}

.custom-cards-group .heading {
    font-family: var(--font-family-semibold);
    font-size: var(--font-large);
    margin: 0px 0px 32px;
}

.custom-cards-group .cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
}

.custom-cards-group .cards-wrapper.single {
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 768px) {
    .custom-cards-group .cards-wrapper {
        grid-template-columns: repeat(4, 1fr);
        gap: 54px;
    }

    .custom-cards-group .cards-wrapper .front-face,
    .custom-cards-group .cards-wrapper .back-face {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .custom-cards-group .cards-wrapper.single {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}